/**
 *   Very, very basic browser reset.
 */
 
* {
	margin: 0;
	padding: 0;
	
	-webkit-font-smoothing: antialiased;
}

html, body {
	height: 100%;
}

body {
	font: 15px/25px "Helvetica Neue", sans-serif;
	
	color: #737077;
	background: #2e2836;
}