.unslider {
	position: relative;
	overflow: auto;

	ul {
		position: relative;
		
		li {
			float: left;
		}
	}
	
	li {
		list-style: none;
		
		/* Reset any weird spacing */
		margin: 0;
		padding: 0;
		
		border: none;
	}
}